<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <title>Login</title>
</head>

<body>
    <h1>Login</h1>

    <!-- Formulário de login -->
    <form action="/usuarios/login" method="POST">
        <!-- Campos do formulário -->
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>

        <label for="senha">Senha:</label>
        <input type="password" id="senha" name="senha" required>

        <!-- Botão de envio -->
        <button type="submit">Login</button>
    </form>

    <!-- Link para página de registro -->
    <p>Não tem uma conta? <a href="/usuarios/cadastro">Cadastre-se</a></p>
</body>

</html>